body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;  /* Dark background */
    color: #fff;             /* Light text */
}

h1 {
    text-align: center;
    margin-top: 50px;
}
